<header class="bg-white shadow-md py-4 mb-12">
  <div class="container flex justify-between items-center">
    <h1 class="text-xl font-bold pl-2 md:text-2xl">PACKS_UI</h1>
    <nav class="mr-4">
      <ul class="flex items-center gap-2">
        <li>
          <a
            href="/dashboard"
            class="text-secondary hover:text-secondary-focus text-sm md:text-xl"
            >Dashboard</a
          >
        </li>
        <% if(typeof isAdmin == 'undefined') {%>
        <li>
          <a
            href="/upload"
            class="text-secondary hover:text-secondary-focus text-sm md:text-xl"
            >Upload</a
          >
        </li>
        <% } %> <% if (typeof login == 'undefined') { %>
        <li>
          <a
            href="/logout"
            class="text-secondary hover:text-secondary-focus text-sm md:text-xl"
            >Logout</a
          >
        </li>
        <% }%>
      </ul>
    </nav>
  </div>
</header>
