<% if(typeof type !=='undefined' && type=="message"){ %>
<% charts.forEach(chart => { %>
    <%- include('components/layout/dp-dash-el', { chart: chart }) %>
<% }); %>
<% } %>
<% if(typeof type !=='undefined' && type=="error"){ %>
    <p class="text-primary text-sm italic mt-2" id="p-error"><%= charts.error %></p>
<% } %>
