<header class="w-full bg-white shadow-md py-4 mb-12">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-700 pl-2">K8S_box UI</h1>
    <nav>
      <ul class="flex items-center">
        <li>
          <a href="/dashboard" class="text-gray-700 hover:text-blue-500 px-2"
            >Dashboard</a
          >
        </li>
        <li>
          <a href="/upload" class="text-gray-700 hover:text-blue-500 pr-2"
            >Upload</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
